# ==============================================================================
# Configuracion de Entorno para PassId (Django)
# Copie este archivo como .env y complete las variables para su entorno local.
# ==============================================================================

# Configuracion General de Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuracion de Conexion a Base de Datos (MySQL)
DB_ENGINE=django.db.backends.mysql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Configuracion Regional
LANGUAGE_CODE=es-mx
TIME_ZONE=America/Mexico_City
